.map-container {
    width: 100vw;
    height: 50vh;
    background-color: whitesmoke;
}

.leaflet-container {
    width: 50vw;
    height: 50vh;
    margin: auto;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
}